<div id="mobile" class="btnNav">
    <span class="material-icons" (click)="showNav()">
        menu
    </span>
</div>
<nav class="nav d-block">
    <div class="user-account">
        <div id="logo-container">
            <span class="material-icons" (click)="closeNav()">
                close
            </span>
            <div id="logo">
                <img src="/assets/logo.png" class="img-fluid" />
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div id="user-info">
        <div id="my-account">
            <a href="javascript:void(0)">
                <img src="https://prod-avatar-svc.cloud.applause.com/1155964/image" class="img-fluid rounded-circle" />
            </a>
        </div>

        <div id="user--quick-info">
            <span>Mani Kandan</span>
            <span id="nn-id">Tester ID: 001</span>
            <span class="level">BRONZE</span>
        </div>

        <span class="material-icons" id="user-info-arrow-down" (click)="showProfileNav()">
            keyboard_arrow_down
        </span>
    </div>
    <div id="developer-profile-nav" class="d-none">
        <ul>
            <li><a href="/account/my-profile">Tester Profile</a></li>
            <li><a href="/profile/user/about">Community Profile</a></li>
            <li><a href="/account/payments">Payments</a></li>
            <li><a href="/account/advanced">Advanced Settings</a></li>
            <li><a href="javascript:void(0)">Sign out</a></li>
        </ul>
    </div>

    <ul class="left-nav-group">
        <li class="left-nav-item">
            <a href="/">
                <span class="material-icons">
                    home
                </span>
                Home
            </a>
        </li>
        <li class="left-nav-item">
            <a href="/academy">
                <span class="material-icons">
                    school
                </span>
                Academy
            </a>
        </li>
        <li class="left-nav-item">
            <a href="/projects">
                <span class="material-icons">
                    trip_origin
                </span>
                Project
            </a>


            <span class="material-icons" id="project-info-arrow-down" (click)="showProjectList()">
                keyboard_arrow_down
            </span>
        </li>
        <div id="project-list" class="d-none">
            <ul>
                <li><a href="/testcycles">Test Cycles</a></li>
                <li><a href="/issues">Issues</a></li>
                <li><a href="/testcases">Test Cases</a></li>
                <li><a href="/projects">Project Board</a></li>
            </ul>
        </div>
        <li class="left-nav-item">
            <a href="/community">
                <span class="material-icons">
                    people_alt
                </span>
                Community
            </a>
        </li>
    </ul>


    <div class="divider"></div>
    <div id="nav_footer">
        <div id="nav_links">
            <a href="/utest-clone-guidelines">uTest Clone Guidelines</a>
            <a href="/terms-and-conditions">Terms & Conditions</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>

        <span>© 2023 uTest clone</span>
    </div>
</nav>